.promo-main
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif
  position: absolute
  left: 20%
  top: 5%
  background-image: url('https://s3-us-west-1.amazonaws.com/assets-predictvia/siman/promo-bg.jpg')
  background-repeat: no-repeat
  background-size: 100% auto
  width: 60%
  min-height: 680px
  height: auto !important
  height: 600px

  .promo-buttons
    width: 40%
    position: absolute
    left: 50%
    //top: 20%
    //min-height: 680px
    //height: auto !important
    padding-top: 15%
    font-size: 1.1vw

    p
      text-align: center
      margin-bottom: 15%

      a
        display: block
        background-color: #D6505E
        color: white
        width: 100%
        text-decoration: none
        padding: 4%
        -webkit-transition: all 0.2s ease
        -moz-transition: all 0.2s ease
        &:hover
          background-color: #A32532
          box-shadow: 2px 2px 1px #888888
