

.promo-main
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif
  position: absolute
  left: 20%
  top: 5%
  //background-image: url('../img/promo-bg.jpg')
  //background-image: url('https://s3-us-west-1.amazonaws.com/assets-predictvia/siman/promo-bg.jpg')
  background-repeat: no-repeat
  background-size: 100% auto
  width: 60%
  min-height: 680px
  height: auto !important
  height: 600px
  .promo-image
    display: block
    width: 100%
    position: relative

  .promo-buttons
    width: 40%
    position: absolute
    left: 50%
    top: 0
    //min-height: 680px
    //height: auto !important
    padding-top: 15%
    font-size: 16px

    p
      text-align: center
      margin-bottom: 8%

      a
        display: block
        background-color: #D6505E
        color: white
        width: 100%
        text-decoration: none
        padding: 4%
        -webkit-transition: all 0.2s ease
        -moz-transition: all 0.2s ease
        box-shadow: 2px 2px 1px #888888

        &:hover
          background-color: #A32532

  .promo-footer
    background-color: #A32532
    color: white
    padding: 1%
    text-align: center
    font-size: 12px

@media (max-width: 768px)
  .promo-main
    width: 90%
    left: 5%

    .promo-buttons
      font-size: 16px
      width: 50%
      left: 30%

@media only screen and (min-width: 768px)
  .promo-main
    width: 90%
    left: 5%

    .promo-buttons
      //p
      //  a
      //    line-height: 50px
      font-size: 20px
      width: 50%
      left: 40%

@media only screen and (min-width: 1024px)
  .promo-main
    width: 60%
    left: 20%

    .promo-buttons
      font-size: 22px
      width: 50%
      left: 40%

@media  (max-width: 320px)
  .promo-main
    left: 0
    position: initial
    width: 100%
    .promo-buttons
      left: 40%
      font-size: 35px
      width: 50%

